PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
MAKE_WEBHOOK_URL=
PUBLIC_SITE_URL=

# development | preview | production - Seo emits noindex unless "production"
PUBLIC_SITE_ENV=development
